* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  width: 80%;
  margin: 0 auto;
}
h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input:invalid {
  border-color: #900;
  background-color: #fdd;
}
